extends layout

block content
  script(src="/javascripts/Three.js")
  script(src="/javascripts/libraries/jquery-1.9.1.min.js")//Jquery
  script(src="/javascripts/libraries/jquery.ui.touch-punch.min.js") //Touch screens jqUI
  script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js") //jqUI
  script(src="/stylesheets/bootstrap/js/bootstrap.min.js")
  script(src="/javascripts/libraries/mouse-wheel.js")
  script(src="/javascripts/init.js")
  script(src="/javascripts/configVars.js")
  script(src="/javascripts/utils/utils.js")
  script(src="/javascripts/view3D.js")

  body(onload="webGLInit()")
    div(class="navbar navbar-fixed-top")
      div#header(class="navbar-inner")
        div(class="container")
          div(class="brand") NODE HEALTH
          ul(class="nav")
            li(class="active")
              a(href="#") boton 1
            li
              a(href="#") boton 2
              div(class="row-fluid")
      div#container(class="container-fluid")
        div(class="row-fluid")
          div(class="leftmenu span2")
            ul(class"nav")
              li(class="active")
                a(href="index.html")
                  span(class="ico")
                    i(class="icon-home")
                  span(class="text") Dashboard
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 1
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 2
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 3
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 4
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 5
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 6
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 1
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 2
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 3
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 4
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 5
              li
                a(href="#")
                  span(class="ico")
                    i(class="icon-edit")
                  span(class="text") Boton 6
          div#workspace