doctype 5
html
  head
    title = title
    link(rel='stylesheet', href="/stylesheets/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/stylesheets/bootstrap/css/bootstrap-responsive.min.css")
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
  body
    block content